<% content_for(:selected, "home") %>

<div class="hero-unit">
  <div class="row-fluid">
    <div class="span8">
      <h2>The todo list... redefined.</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar consequat enim, vitae viverra sapien sodales vel. Duis varius ligula elit, vel placerat dolor. Vestibulum augue sapien, vestibulum a facilisis quis, egestas et elit. Etiam vulputate mi in augue bibendum sed ultricies ligula euismod. Praesent rutrum est augue, viverra mattis velit.</p>
      <%= link_to("<div class=\"btn btn-primary btn-large\">Sign up</div>".html_safe, static_register_path) %>
    </div>
    <div class="span4">
      <p class="hidden-phone"><%= image_tag("logo-400.png") %></p>
    </div>
  </div>
</div>

<div class="row-fluid">

  <div class="span4 center-column">
    <%= image_tag("whale.jpg", {class: "img-circle"}) %>
    <h2>Fun to use</h2>
    <p>Curabitur quam enim, sollicitudin ac rhoncus sit amet, commodo sed sapien. Cras nisi orci, viverra at laoreet vel, sollicitudin vitae risus. Proin ultrices ornare dapibus. Etiam risus enim, rhoncus a viverra blandit, vehicula vel tortor. Aenean pretium orci a ante lobortis id sodales turpis pellentesque. In hac habitasse platea dictumst. Suspendisse dolor quam, fermentum nec aliquet vitae, elementum porttitor nisl. Sed malesuada cursus urna, vel fermentum justo pretium vel. Nullam imperdiet luctus massa risus  nibh rhonc ac commodo.</p>
  </div>

  <div class="span4 center-column">
    <%= image_tag("cliffs.jpg", {class: "img-circle"}) %>
    <h2>Easy to stick with</h2>
    <p>Quisque tempor nulla in sem vestibulum eget aliquet ligula tincidunt. Nunc in tortor eu metus sollicitudin fermentum sed eu diam. Nunc feugiat eleifend tortor, ac posuere purus luctus non. Curabitur quis diam erat. Aenean convallis congue nulla, a consequat purus sollicitudin ut. Mauris tristique, odio sed viverra porttitor, nulla leo scelerisque ligula, sit amet rutrum lacus sapien ac lacus. Etiam a sapien quam. Aliquam suscipit, metus et hendrerit facilisis, nibh odio porttitor arcu, pretium tincidunt massa risus vitae sapien.</p>
  </div>

  <div class="span4 center-column">
    <%= image_tag("flowers.jpg", {class: "img-circle"}) %>
    <h2>Accessible to all</h2>
    <p>Praesent tellus nibh, commodo non accumsan posuere, dictum mattis dolor. In quis lectus tellus. Ut sollicitudin nisl nec nisl condimentum vel tempus dui consectetur. Donec lectus leo, accumsan ac tincidunt at, tincidunt et libero. Integer placerat arcu non turpis vehicula consequat ut at nisi. Integer mollis aliquam augue, eget placerat mi consequat nec. Nulla condimentum condimentum tortor at mattis. Mauris gravida vulputate orci vel feugiat. Vivamus pharetra egestas velit, a mattis risus scelerisque sit amet. Nam commodo augue quam, sit.</p>
  </div>
</div>