<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<!DOCTYPE html>
<html>

  <head>
    <title>Todo 2.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1 class="pull-left no-pads title"><%= link_to("Todo 2.0", root_path) %></h1>
        <nav>
          <ul class="nav nav-pills pull-right">
            <li <%= "class=active" if yield(:selected) == "home" %>><%= link_to("Home", root_path) %></li>
            <li <%= "class=active" if yield(:selected) == "register" %>><%= link_to("Register", register_path) %></li>
            <li <%= "class=active" if yield(:selected) == "login" %>><%= link_to("Login", login_path) %></li>
          </ul>
        </nav>
        <div style="clear:both;">&nbsp;</div>
      </header>
      <div class="content">
        <%= yield %>
      </div>
      <div class="row-fluid footer">
        <p>Copyright &copy;<%= Time.now.year %> Payton Carter. All Rights Reserved.</p>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
  </body>

</html>